/* Estilos generales */
body {
    background-image: linear-gradient(to bottom, #4f4e4e, #ffffff);
    font-family: 'Kurale', 'Raleway', Arial, sans-serif;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px;

}

/* Header */
header {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
    align-items: center;
}


.logo img {
    width: 6vw;
    height: 6vw;
    border-radius: 50px;
    margin-left: 3vw;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 1.5em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em;
    background-color: var(--fondo-nav-color);
    z-index: 1;

}

.socialmedia {
    display: flex;
    justify-content: right;
    margin-left: 15%;
}

nav a {
    padding: 1em 0.5em;
    border-radius: 100px;
    color: var(--texto-color);
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #b99595;
}

.intro-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: right;
    justify-content: right;
}

/* Imagen de Perfil*/
.imagen-perfil {
    margin-top: 5vh;
    width: 35vw;
    height: 45vw;
    margin-left: 3vw;
}


.imagen-perfil {
    display: flex;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.introduccion {
    color: #fff;
    margin-top: 5vw;

}

.introduccion h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.introduccion p {
    font-size: 0.8 rem;
}

.small {
    width: 30vw;
    height: auto;
}

#sobre-mi {
    margin-top: 5%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2%;
}

.clase-2 {
    width: 700px;
    height: 500;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
}

.clase-2 p {
    font-size: 0.8 rem;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


button {
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1em;
    font-family: 'Kurale', 'Raleway', Arial, sans-serif;
    ;
}

/*Formulario*/
#contactame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.contactame h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contactame form {
    width: 300px;
}

.contactame label {
    display: block;
    margin-bottom: 10px;
}

.contactame input,
.contactame textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.contactame input[type="submit"] {
    background-color: #4f4e4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contactame input[type="submit"]:hover {
    background-color: #333;
}


/* Footer */
footer {
    background-color: #333;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {


    nav {
        width: auto;
        font-size: 0.44rem;
    }


    .imagen-perfil {
        width: 150px;
        height: 200px;
        margin-left: 5vw;
    }


    .introduccion {
        padding: 10%;
    }

    .introduccion h1 {
        font-size: 10px;
        font-weight: bold;
        margin: 0;
    }

    .introduccion p {
        font-size: 9px;
        text-align: left;
    }

    button {
        font-size: 0.5em;
    }

    .small {
        width: 100%;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }

    #sobre-mi {
        margin-top: 10%;
        padding: 10%;
    }

    .clase-2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }

    #contactame {
        margin-left: 10%;
    }

    .footer {
        font-size: 0.5em;
    }
}