.cards-container {
    display: flex;
    width: 100%;
    padding: 60px;
    margin-left: -1%;
}

.cards-container .card {
    background-color: rgb(61, 62, 62);
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;

    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3) -4px 0 10px rgba (0, 0, 0, 0.2) -5px 0 10px rgba (0, 0, 0, 0.5)
}

.cards-container .card a {
    color: rgb(253, 252, 252);
    text-decoration: none;
}

.cards-container .card .header {
    flex: 1;
    padding: 3px 0;
    font-size: 20px;
}

.cards-container .card:hover {
    margin-right: 80px;
    transform: rotate(4deg) translateY(-15px);
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {

    .cards-container {
        flex-direction: column;
    }
}